<%= form_with model: @patient do |form| %>
<div>
    <%= form.label :id %><br>
    <%= form.text_field :id %>
    <% @patient.errors.full_messages_for(:id).each do |message| %>
      <div><%= message %></div>
    <% end %>

  <div>
    <%= form.label :name%><br>
    <%= form.text_field :name %>
    <% @patient.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
<div>
 <%= form.submit %>
  </div>
<% end %>