<h1>Appointments</h1>
<ul>
<%@appointments.each do |u|%>
<a href="/appointments/<%=u.id%>">
<li>
<%=u.date%>
<%end%>
</li>
</ul>

<%= link_to "New", new_appointment_path(@user) %>


<%@doctors.each do |u|%>
<a href="/doctors/<%=u.id%>">
<li>
<%=u.name%>
<%end%>
</li>
</ul>

<%= link_to "New", new_doctor_path(@user) %>


<%@patients.each do |u|%>
<a href="/patients/<%=u.id%>">
<li>
<%=u.name%>
<%end%>
</li>
</ul>

<%= link_to "New", new_patient_path(@user) %>